.my-work{
    scroll-snap-align: start;
    height: auto;
    color: #f2f3f4;
    padding: 85px 0;
    margin: 0 40px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
height: 300px;
width: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin: 1rem ;
}

.preview{
border: 3px solid #7C6D5F;
width: 350px;
height: 250px;
    img{
        width: 344px;
        height: 244px;
        object-fit: cover;
        object-position: 20% 10%;
        filter: opacity(0.8);
        transition: 0.3s;

        &:hover{
            filter: none;
        }
    }
}

.link-button{
    border: 1px solid #7C6D5F;
        background-color: transparent;
        margin: 1rem 0;
        padding: 0.5rem ;
        color: #7C6D5F;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        transition: 0.3s;
        width: 6rem;

        &:hover{
            background-color: #7C6D5F;
            color: #fff;
            font-weight: 400;
            opacity: 1;
            cursor: pointer;
        }

        a{
            text-decoration: none;
            color: #7C6D5F;
            &:hover{
                color: #fff;
            }
            &:active{
                text-decoration: none;
            }
            &:visited{
                text-decoration: none;
            }
        }
}

@media screen and (min-width: 768px) {
    .wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .container{
        height: 400px;
        width: 500px;
        }
        
        .preview{
        width: 500px;
        height: 350px;
        }

        }